<h2>Salesforce Concepts</h2>
<div class="nav-item">
    <a href="#" data-target="sf-apex-items">
        <div class="square-indicator"></div> SF Apex Concepts
    </a>
    <div id="sf-apex-items" class="child-items">
        <div class="nav-item">
            <a href="#" data-target="apex-triggers">
                <div class="square-indicator"></div> Apex Triggers
            </a>
            <div id="apex-triggers" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/apextriggershtml/apextriggerbasics.html" >Apex Trigger Basics</a>                    
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/apextriggershtml/apextriggerrecursion.html"> Apex Trigger Recursion</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/apextriggershtml/preventtriggerrecursion.html">Prevent Apex Trigger Recursion</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a href="#" data-target="async-apex-functionality">
                <div class="square-indicator"></div> Async Apex 
            </a>
            <div id="async-apex-functionality" class="child-items">                
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/AsyncApexhtml/apexbatch.html">Apex Batch</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/AsyncApexhtml/Apex_Batch_UnitTest.html" >Apex Batch Unit Test</a>                    
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/AsyncApexhtml/queueablebatch.html">Queueable Batch</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/AsyncApexhtml/queueablebatch_UnitTest.html" >Queueable Batch Unit Test</a>                    
                </div>                
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/AsyncApexhtml/schedulerapex.html">Scheduler Apex</a>
                </div>

                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/AsyncApexhtml/futuredecorator.html">@future Annotation</a>
                </div>

                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/AsyncApexhtml/concurrencyException.html">Concurrency Exception</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/AsyncApexhtml/asyncapexkeynotes.html">Aysnc Apex Imp Notes</a>                 
                </div>                
            </div>
        </div>         
        <div class="nav-item">
            <a href="#" data-content="components/apexhtml/governorLimits.html">Apex Governor Limits</a>
        </div>       
    </div>
    
</div>

<div class="nav-item">
    <a href="#" data-target="premium-services-items">
        <div class="square-indicator"></div> SF Java Script Concepts
    </a>
    <div id="premium-services-items" class="child-items">
        <div class="nav-item">
            <a href="#" data-target="java-script-basics">
                <div class="square-indicator"></div> Basics
            </a>
            <div id="java-script-basics" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/TypeConversion.html" >Type Conversion</a>                    
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/comparison.html">Compare Primitives - Objects </a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/jsbasics/functionPassByValue.html">Function Parameters</a>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <a href="#" data-target="java-script-decorators">
                <div class="square-indicator"></div> Data Fetch Server Side
            </a>
            <div id="java-script-decorators" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/dataFetchServerSide/introduction.html" >Server Side Data - Introduction</a>                  
                </div>                
            </div>
            <div id="java-script-decorators" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/dataFetchServerSide/wire.html" >Wire Decorator</a>                  
                </div>                
            </div>
        </div>
        
        
    </div>
</div>


<div class="nav-item">
    <a href="#" data-target="sf-unittest-items">
        <div class="square-indicator"></div> SF Apex Unit Test
    </a>
    <div id="sf-unittest-items" class="child-items">
        <div class="nav-item">
            <a href="#" data-target="apex-unit-test-basics">
                <div class="square-indicator"></div> Apex Unit Test Basics
            </a>
            <div id="apex-unit-test-basics" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="components/unitTesthtml/unittestbasics.html">Unit Test Fundamental Topics</a>
                </div>
            <!--      
                <div class="nav-item">
                    <a href="#" data-content="components/unitTesthtml/ObjectFieldSecurityTest.html">Security Config Unit Test</a>
                </div>     
            -->    
                
            </div>
        </div>
        <div class="nav-item">
            <a href="#" data-target="apex-callouts">
                <div class="square-indicator"></div> Apex Callout Unit Test 
            </a>
            <div id="apex-callouts" class="child-items">                
                <div class="nav-item">
                    <a href="#" data-content="components/unitTesthtml/StaticResourceCalloutMock.html">StaticResourceCalloutMock</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/unitTesthtml/StaticMockFrameworkUtility.html">Static Mock - Utility Framework</a>
                </div>               
                  
            </div>
        </div>        
    </div>
</div>

<div class="nav-item">
    <a href="#" data-target="sf-process-automation">
        <div class="square-indicator"></div> Process Automation
    </a>
    <div id="sf-process-automation" class="child-items">
        <div class="nav-item">
            <a href="#" data-target="sf-process-flows">
                <div class="square-indicator"></div> Flows
            </a>
            <div id="sf-process-flows" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="components/ProcessAutomation/Flows/bulkification.html">Bulkification</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/ProcessAutomation/Flows/rollback.html">Rollback Transaction</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a href="#" data-target="sf-approval-flows">
                <div class="square-indicator"></div> Approval Flows
            </a>
            <div id="sf-approval-flows" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="components/ProcessAutomation/ApprovalFlows/approvalFlows.html">Approval Process Flows</a>
                </div>
            </div>
        </div>
     
    </div>
</div>


<div class="nav-item">
    <a href="#" data-target="sf-admin-concepts">
        <div class="square-indicator"></div> SF Admin Concepts
    </a>
    <div id="sf-admin-concepts" class="child-items">
        <div class="nav-item">
            <a href="#" data-target="sf-admin-basics">
                <div class="square-indicator"></div> Basics
            </a>
            <div id="sf-admin-basics" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="components/admin/RollupSummary.html" >Rollup Summary</a>                    
                </div>   
                <div class="nav-item">
                    <a href="#" data-content="components/admin/Relationship.html" >Relationships</a>                    
                </div>  
                <div class="nav-item">
                    <a href="#" data-content="components/admin/CustomMetaData.html" >Custom Meta Data Type</a>                    
                </div>
                
            </div>
        </div>
        
        
    </div>
</div>




