<h2>Salesforce Interview Prep</h2>
<div class="nav-item">
    <a href="#" data-target="sf-apex-items">
        <div class="square-indicator"></div> SF Apex Concepts
    </a>
    <div id="sf-apex-items" class="child-items">
        <div class="nav-item">
            <a href="#" data-target="apex-triggers">
                <div class="square-indicator"></div> Apex Triggers
            </a>
            <div id="apex-triggers" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/TypeConversion.html" >Apex Trigger Basics</a>                    
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/comparison.html"> Apex Trigger Recursive </a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/jsbasics/functionPassByValue.html">Apex Trigger Framework</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a href="#" data-target="async-apex-functionality">
                <div class="square-indicator"></div> Async Apex 
            </a>
            <div id="async-apex-functionality" class="child-items">                
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/AsyncApexhtml/apexbatch.html">Apex Batch</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/AsyncApexhtml/Apex_Batch_UntiTest.html" >Apex Batch Unit Test</a>                    
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/apexhtml/AsyncApexhtml/queueablebatch.html">Queueable Batch</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="form-integration">Scheduled Batch</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a href="#" data-content="malware-cleanup">Third Party Java Script</a>
        </div>
    </div>
</div>

<div class="nav-item">
    <a href="#" data-target="premium-services-items">
        <div class="square-indicator"></div> SF Java Script Concepts
    </a>
    <div id="premium-services-items" class="child-items">
        <div class="nav-item">
            <a href="#" data-target="java-script-basics">
                <div class="square-indicator"></div> Basics
            </a>
            <div id="java-script-basics" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/TypeConversion.html" >Type Conversion</a>                    
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/comparison.html">Compare Primitives - Objects </a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/jsbasics/functionPassByValue.html">Function Parameters</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a href="#" data-target="java-script-core-functionality">
                <div class="square-indicator"></div> JS Architecture Functionality
            </a>
            <div id="java-script-core-functionality" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/TypeConversion.html" onclick="toggleIframe(event, 'exit-intent-popup')">Type Conversion</a>                    
                </div>
                <div class="nav-item">
                    <a href="#" data-content="components/javascripthtml/TypeConversion.html">Arrays</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="form-integration">Collections</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a href="#" data-content="malware-cleanup">Third Party Java Script</a>
        </div>
    </div>
</div>
<div class="nav-item">
    <a href="#" data-target="css-services-items">
        <div class="square-indicator"></div> SF CSS Concepts
    </a>
    <div id="css-services-items" class="child-items">
        <div class="nav-item">
            <a href="#" data-target="css-conversions-items">
                <div class="square-indicator"></div> CSS Basics
            </a>
            <div id="css-conversions-items" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="exit-intent-popup">CSS-Intent Popup</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="lead-collection-popup">CSS Collection Popup</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="form-integration">CSS Integration</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a href="#" data-content="malware-cleanup">CSS Fundamentals</a>
        </div>
    </div>
</div>

<div class="nav-item">
    <a href="#" data-target="LWC-services-items">
        <div class="square-indicator"></div> SF LWC Concepts
    </a>
    <div id="LWC-services-items" class="child-items">
        <div class="nav-item">
            <a href="#" data-target="LWC-conversions-items">
                <div class="square-indicator"></div> SF LWC Basics
            </a>
            <div id="LWC-conversions-items" class="child-items">
                <div class="nav-item">
                    <a href="#" data-content="exit-intent-popup">Decorators</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="lead-collection-popup">Life Cycle Hooks</a>
                </div>
                <div class="nav-item">
                    <a href="#" data-content="form-integration">Events Bubbling</a>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <a href="#" data-content="malware-cleanup">Life Cycle Hooks</a>
        </div>
    </div>
</div>

